/*general default body style*/
body {
	color: rgb(3, 55, 69);
	background-color: rgb(255, 252, 237);
}

/*----------top jumbotron----------*/
#title {
	font-weight: bold;
	font-size: 1.3rem;
	color: rgb(3, 55, 69);
	padding: .5rem 0;
	text-align: center;
}

/*--------------Navbar Section----------*/

/*link styling*/
a {
	color: rgb(3, 55, 69) !important;
}

a:hover {
	background-color: rgba(3, 55, 69, .1);
}

#header-links {
	align-items: center;
	display: inline-block;
}

/*Styling for nav bar*/
#navbarNav {
	background-color: rgb(255, 252, 237);
	border-radius: 3px;
	border: 2px rgb(3, 55, 69);
}

#navBar button:focus {
	outline: 5px auto rgb(3, 55, 69);
}

.navbar {
	height: 4rem;
}

.navbar img {
	height: 3rem;
}
#titleBar {
	box-shadow: 0 3px rgba(3, 55, 69, 0.8);
	background-color: rgb(255, 252, 237);
}
/*----------About section-------------*/
.thumbnail img {
	position: relative;
	max-width: 100%;
	max-height: fit-content;
}

/*-------Services Section-----------*/
/*Caption Styling*/
.caption {
	position: absolute;
	top: 0;
	left: 0;
	text-align: center;
	padding-left: 4%;
	width: 100%;
	color: rgb(255, 252, 237);
	background-color: rgba(3, 55, 69, 0.8);
	height: 12%;
	font-family: "Palatino Linotype", serif;
}

.caption p {
	font-weight: bolder;
	font-size: 150%;
}

#caption {
	background-color: rgba(3, 55, 69, 0.8);
}

.d-lg-none {
	height: 15rem;
	text-align: left;
	padding: 4%;
	color: rgb(255, 252, 237);
	background-color: rgb(3, 55, 69);
}

/*carousel styling*/
.carousel-item img {
	width: 95%;
}

#next span, #previous span {
	position: absolute;
	top: 50%;
	background-color: rgba(3, 55, 69, .8);
}

/*------ContactForm Styling-------*/
.input-group-text {
	background-color: rgba(3, 55, 69, .7);;
}